@import "tailwindcss";
@import "@nuxt/ui";
@import "tailwindcss";
@import "@nuxt/ui";
@tailwind utilities;


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #1F3A5F;

}

:root {
    --gap: 1.75rem;
    --padding: 1.5rem;
    --card-radius: 0.75rem;
    --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    :root {
        --gap: 1rem;
        --padding: 0.75rem;
    }
}

html, body {
    overflow-x: hidden;
}

@layer components {
    .btn {
        @apply px-6 py-3 text-white text-lg font-medium rounded-md
        bg-blue-300 transition-colors duration-200 ease-in-out;
    }

    .btn:hover:not(:disabled),
    .btn:active:not(:disabled) {
        @apply bg-blue-400;
    }

    .btn:disabled {
        @apply bg-gray-400 cursor-not-allowed;
    }
}

.btn-link {
    @apply  mt-2 px-4 py-2 text-white bg-blue-300 rounded
    hover:bg-blue-400 hover:scale-105
    active:bg-blue-400 active:scale-105
    transition;
}