@import "tailwindcss";
@import "@nuxt/ui";


body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

:root {
    --gap: 1.75vw;
    --padding: 1.5vw;
    --card-radius: 0.75rem;
    --card-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    --img-height: 12vw;
    --font-base: 1.2vw;
    --font-title: 1.5vw;
}

@media (max-width: 760px) {
    :root {
        --gap: 3vw;
        --padding: 4vw;
        --img-height: 24vw;
        --font-base: 3.5vw;
        --font-title: 5vw;
    }
}

html, body {
    overflow-x: hidden;
}